           * {
               font-family: 'Maven Pro', sans-serif;
           }
           
           main {
               display: border-box;
               margin: auto;
               width: 80%;
           }
           /*Styling for header*/
           
           .header_contain {
               margin-left: 0px;
               margin-right: 0px;
               border-bottom: 3px solid #bcbbbb;
               margin-bottom: 1.5em;
               margin-top: 2em;
           }
           
           .header__profile {
               text-align: right;
               text-transform: uppercase;
           }
           
           .header__logo {
               padding-left: 0px;
           }
           
           #udacity-logo {
               display: block;
               fill: #02b3e4;
               margin: auto;
               float: left;
           }
           /*Projects*/
           
           .projects_title {
               padding-left: 15px;
           }
           
           .project_description {
               text-align: center;
           }
           
           .project_description_name {
               font-size: 18px;
               text-transform: uppercase;
           }
           
           .siteimage_container {
               margin-left: 0px;
               margin-right: 0px;
           }
           /*Override bootstraps viewports*/
           
           @media screen and (max-width: 991px) and (min-width: 738px) {
               .img-responsive {
                   display: inline;
               }
           }
           
           @media (max-width: 530px) {
               .header__profile col-md-6 {
                   width: 100px;
               }
               .header__profile__fullname_text {
                   font-size: 18px;
               }
               .header__profile__role_text {
                   font-size: 12px;
               }
               .responsive-center-small-vp {
                   text-align: center;
               }
               .scaling-logo {
                   height: 60px;
                   width: 60px;
               }
           }
           
           @media (min-width: 768px) and (max-width: 1024px) {
               .container {
                   width: 600px;
               }
               .header__profile__fullname_text {
                   font-size: 30px;
               }
               .header__profile__role_text {
                   font-size: 20px;
               }
               p {
                   font-size: 8px;
               }
               .responsive-center-small-vp {
                   font-size: 24px;
               }
           }
           
           @media (max-width: 992px) {
               .responsive-center-small-vp {
                   text-align: center;
               }
           }
           
           @media (min-width: 1200px) {}